@use 'abstracts/variables' as var;

html {
  font-family: var.$fontPrimary;
  scroll-behavior: smooth;
}

body {
  line-height: 2;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

#hero,
#about,
#models,
#gallery {
  margin-bottom: 100px;
}